<body>
  <header class="container-fluid bg-dark position-sticky top-0">
    <div class="navbar-nav">
      <div class="header2">
        <div class="title">
          <img class="avatar" src="https://i.postimg.cc/65D2wVCC/imagen.png" alt="">
        <h1>TODO</h1>      
        <button type="submit" class="btn btn-outline-success button cart productall"><a class="page-link" href="/api/products_index">Todos los Productos</a></button>        
        <a href="/rol" class="btn btn-outline-primary button cart productall">Editar Usuario</a>               
        <a href="/api/addProduct" class="btn btn-orange button cart productall">Agregar Productos</a>        
        </div>     
        <div class="navbartotal">
        <div >
          <h4 class="card-title pt-2 text-center text-primary">Bienvenido:({{name}})</h4>
        </div>
        <div>
          <h4 class="card-title pt-2 text-center text-success">Rol:({{rol}})</h4>         
        </div>
        <div class="btn-group">
      <img src={{avatar}} class="btn dropdown-toggle avatar" data-bs-toggle="dropdown" aria-expanded="false" />
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/updateavatar">Cambiar Avatar</a></li>
    {{#if pass}}
    <li><a class="dropdown-item" href="/updatepass">Cambiar Contraseña</a></li>       
    {{/if}}  
    <li><a class="dropdown-item" href="/api/users">Todos los usuarios</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>    
  </ul>
    </div>
  </header>
    
    <div class="d-flex justify-content-center">
    <h2 class="mt-4 mb-4 d-flex justify-content-center"><b>Listado de productos Total : ({{pagination.totalDocs}})</b></h2>          
    </div>

      <div class="row row-cols-sm-10 row-cols-md-2 row-cols-lg-4 row-cols-x1-4" id="card">
        {{#each products}}
        <div class="col d-flex justify-content-center mb-4" id="dataProd">
          <div class="card shadow mb-1 bg-dark rounded" style="width: 20rem">
            <h5 class="card-title pt-2 text-center text-primary">{{this.title}}</h5>
            <img src={{this.thumbnail}} class="card-img-top" />
            <div class="card-body">
              <p class="card-text text-white-50 description">
                {{this.description}}
              </p>              
              <h5 class="text-primary">
                Precio: <span>$ {{this.price}}</span>
              </h5>
              <h5 class="text-primary">
                Stock: <span>{{this.stock}}</span>
              </h5>
              <h5 class="text-primary">
                Categoria: <span>{{this.category}}</span>
              </h5>
              <form action="/api/carts/:cid/products/:pid" method="post">
              <div class="d-grid gap-2 eliminar">                
              </div>             
              </form>                
              <form action="/api/products_index:id?_method=DELETE" method="post">
              <div class="d-grid gap-2 eliminar">
                <input type="hidden" name="id" value="{{this.id}}">                
                <button type="submit" class="btn btn-danger button">
                  Eliminar
                </button>
              </div>
              </form>
              <form action="/api/update?_method=GET" method="post">
              <div class="d-grid gap-2 eliminar">
                <input type="hidden" name="id" value="{{this.id}}">                
                <button type="submit" class="btn btn-warning button" href="/api/update">
                  Actualizar
                </button>
              </div>
              </form>                       
            </div>
          </div>
        </div>
        {{/each}}
      </div>



    <div class="d-grid gap-2" id="btn">  
      <div>
                {{#if pagination.hasPrevPage}}
                    <button type="submit" class="btn btn-primary button page-item"><a class="page-link" href="{{pagination.prevPageUrl}}">Anterior</a></button>
                {{else}}
                    <button hidden class="page-item disabled" type="submit"><a class="page-link" href="{{pagination.prevPageUrl}}"></a></button>
                {{/if}}        
                {{#each pagination.pagesArray}}
                    <button class="btn btn-primary button page-item"><a class="page-link" href="{{baseUrl}}?page={{this.index}}">{{this.indexPgBar}}</a></button>
                {{/each}}  
                {{#if pagination.hasNextPage}}
                    <button type="submit" class="btn btn-primary button page-item"><a class="page-link" href="{{pagination.nextPageUrl}}">Siguiente</a></button>
                {{else}}
                    <button hidden class="page-item disabled" type="submit"><a class="page-link" href="{{pagination.nextPageUrl}}"></a></button>
                {{/if}}                   
      </div>    
    </div>

<footer class="bg-transparent text-dark pt-5 pb-4"> 
        <hr class="mb-4">
        <div class="text-center mb-2">
          <p class="text-light">Copyright Todos los derechos Reservados ® 
            <a href="#">
              <strong class="text-primary"></strong>
            </a>
          </p>
        </div>
        <div class="text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" target="_blank" class="text-light"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/" target="_blank" class="text-light"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/" target="_blank" class="text-light"><i class="fab fa-instagram"></i></a>
            </li>            
            <li class="list-inline-item">
              <a href="https://www.youtube.com/watch?v=RCnxTwMZLes&t=332s" target="_blank" class="text-light"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</footer>





