<body>
  <header class="container-fluid bg-dark position-sticky top-0">
    <div class="navbar-nav">
      <div class="header2">
        <div class="title">
          <img class="avatar" src="https://i.postimg.cc/65D2wVCC/imagen.png" alt="">
        <h1>TODO</h1>         
        <button type="submit" class="btn btn-outline-success button cart productall"><a class="page-link" href="/api/products_index">Todos los Productos</a></button>        
        <a href="/rol" class="btn btn-outline-primary button cart productall">Editar Usuario</a>     
        <a href="/api/addProduct" class="btn btn-orange button cart productall">Agregar Productos</a>   
        </div>  
        <div class="navbartotal">
        <div >
          <h4 class="card-title pt-2 text-center text-primary">Bienvenido:({{name}})</h4>
        </div>
        <div>
          <h4 class="card-title pt-2 text-center text-success">Rol:({{rol}})</h4>         
        </div>
        <div class="btn-group">
      <img src={{avatar}} class="btn dropdown-toggle avatar" data-bs-toggle="dropdown" aria-expanded="false" />
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/updateavatar">Cambiar Avatar</a></li>
    {{#if pass}}
    <li><a class="dropdown-item" href="/updatepass">Cambiar Contraseña</a></li>       
    {{/if}}
    <li><a class="dropdown-item" href="/api/users">Todos los usuarios</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>    
  </ul>
    </div>
  </header>



<form action="/api/products_index{{products._id}}?_method=PUT" method="post" id="formulario">
        <div class="post" id="addpost">
          <h2 class="d-flex justify-content-center">Actualizar Producto</h2>
          <img src={{products.thumbnail}} class="rounded mx-auto d-block"/>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="title" type="text" class="form-control" id="title" required value="{{products.title}}">
        </div>
        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen</label>
          <input name="thumbnail" type="url" class="form-control" id="imagen" required value="{{products.thumbnail}}">
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Description</label>
          <input name="description" type="text" class="form-control" id="descripcion" required value="{{products.description}}">
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input name="price" type="number" class="form-control" id="preico" required value="{{products.price}}">
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input name="stock" type="number" class="form-control" id="stock" required value="{{products.stock}}">
        </div>
        <div class="mb-3">         
          <input name="owner" type="hidden" class="form-control" id="owner" required value="{{user.user}}">
        </div>
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoria</label>
          <input name="category" type="text" class="form-control" id="categoria" required value="{{products.category}}">
        </div>
        <div class="d-flex justify-content-around pt-4">
          <a href="/" type="button" class="btn btn-danger">Cancelar</a>
          <button id="btn" type="submit" class="btn btn-success">Actualizar Producto</button>
        </div>
      </form>


<footer class="bg-transparent text-dark pt-5 pb-4">
        <hr class="mb-4">
        <div class="text-center mb-2">
          <p class="text-light">Copyright Todos los derechos Reservados ® 
            <a href="#">
              <strong class="text-primary"></strong>
            </a>
          </p>
        </div>
        <div class="text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" target="_blank" class="text-light"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/" target="_blank" class="text-light"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/" target="_blank" class="text-light"><i class="fab fa-instagram"></i></a>
            </li>            
            <li class="list-inline-item">
              <a href="https://www.youtube.com/watch?v=RCnxTwMZLes&t=332s" target="_blank" class="text-light"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</footer>
