<body>
  <header class="container-fluid bg-dark position-sticky top-0">
    <div class="navbar-nav">
      <div class="header2">
        <div class="title">
          <img class="avatar" src="https://i.postimg.cc/65D2wVCC/imagen.png" alt="">
        <h1>TODO</h1>         
        <button type="submit" class="btn btn-outline-success button cart productall"><a class="page-link" href="/api/products_index">Todos los Productos</a></button>         
        <a href="/rol" class="btn btn-outline-primary button cart productall">Editar Usuario</a>               
        <a href="/api/addProduct" class="btn btn-orange button cart productall">Agregar Productos</a>      
        </div>     
        <div class="navbartotal">
        <div >
          <h4 class="card-title pt-2 text-center text-primary">Bienvenido:({{name}})</h4>
        </div>
        <div>
          <h4 class="card-title pt-2 text-center text-success">Rol:({{rol}})</h4>         
        </div>
        <div class="btn-group">
      <img src={{avatar}} class="btn dropdown-toggle avatar" data-bs-toggle="dropdown" aria-expanded="false" />
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/updateavatar">Cambiar Avatar</a></li>
    {{#if pass}}
    <li><a class="dropdown-item" href="/updatepass">Cambiar Contraseña</a></li>       
    {{/if}}
    <li><a class="dropdown-item" href="/api/users">Todos los usuarios</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>    
  </ul>
    </div>
  </header>

<div class="d-flex justify-content-center">
  <h2 class="mt-4 mb-4 d-flex justify-content-center"><b>Lista de Usuarios</b></h2>          
</div>

<div class="d-flex justify-content-center">
<ol class="list-group list-group-numbered d-flex justify-content-center" style="width: 20rem">
{{#each user}}
  <li class="list-group-item d-flex justify-content-between align-items-start my-2">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Name: {{this.name}}</div>
      <div class="fw-bold">User: {{this.mail}}</div>
      <div class="fw-bold">Tipo de cuenta: {{this.rol}}</div>
    </div>    
  </li>
{{/each}}
</ol> 
</div> 

<footer class="bg-transparent text-dark pt-5 pb-4"> 
        <hr class="mb-4">
        <div class="text-center mb-2">
          <p class="text-light">Copyright Todos los derechos Reservados ® 
            <a href="#">
              <strong class="text-primary"></strong>
            </a>
          </p>
        </div>
        <div class="text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" target="_blank" class="text-light"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/" target="_blank" class="text-light"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/" target="_blank" class="text-light"><i class="fab fa-instagram"></i></a>
            </li>            
            <li class="list-inline-item">
              <a href="https://www.youtube.com/watch?v=RCnxTwMZLes&t=332s" target="_blank" class="text-light"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</footer>





